{% extends "booking/layout.html" %}

{% block body %}
    <h2>{{ username }}</h2>
    <ul>
        {% for agenda in agendas %}
        <li style="margin-bottom: 20px;">
            <div>
                <!--<p>Date: {{ agenda.schedule.date }}</p>-->
                <!--<p>Date: {{ agenda.schedule.date|date:"F j, Y" }}</p>-->
                <p>Time: {{ agenda.schedule.activity }}</p>
                <p>Date: {{ agenda.schedule.date|date:"F j, Y" }}</p>
                <p>Time: {{ agenda.schedule.date|time:"h:i A" }}</p>
                <!--<p>Timestamp: {{ agenda.timestamp }}</p>-->
            </div>

            <form method="POST">
                {% csrf_token %}
                <input type="hidden" name="schedule_id" value="{{ agenda.schedule.id }}">
                <button type="submit" name="action" value="cancel" class="btn btn-danger mb-2">Cancel Reservation</button>
            </form>
        </li>
        {% endfor %}
    </ul>
{% endblock %}