{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Social booking{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'booking/styles.css' %}" rel="stylesheet">
    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{% url 'booking:index' %}">booking</a>
          
            <div>
              <ul class="navbar-nav mr-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'booking:profile' request.user.username %}"><strong>{{ user.username }}</strong></a>
                    </li>
                {% endif %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'booking:all_activities' %}">All Activities</a>
                </li>
                {% if user.is_authenticated %}
                    {% comment %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'booking:following' %}">Following</a>
                    </li>
                    {% endcomment %}

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'booking:agenda' %}">Agenda</a>
                    </li>



                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'booking:logout' %}">Log Out</a>
                    </li>
                    <!--<li class="nav-item">
                        <a class="nav-link btn btn-warning" href="{% url 'booking:create' %}">New Activity</a>
                    </li>-->
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'booking:login' %}">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'booking:register' %}">Register</a>
                    </li>
                {% endif %}
              </ul>
            </div>
          </nav>
        
        <div class="body">
            {% block body %}
            {% endblock %}
        </div>
        <script src="{% static 'booking/script.js' %}"></script>
    </body>
</html>